# Pandas Examples

---
## Example 1 - Product Demand

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create a list of products and a list of demands
products = ['Product 1', 'Product 2', 'Product 4', 'Product 6']
demands = [29, 17, 42, 21]

In [ ]:
# zip() takes arguments of 2 (or more) lists, of equal lengths.
# It combines the nth element of each list.
# We add list() to the beginning to be able to see the result.
list(zip(products, demands))

In [ ]:
# Create a data set from these two lists
productDataset = list(zip(products, demands))
productDataset

In [ ]:
# Create a pandas dataframe
df = pd.DataFrame(data=productDataset, columns=['Product Name', 'Demand'])
df

#### 1) Print just the column of product names:

In [ ]:
df['Product Name']

#### 2) Print the demand column first, and the product name column second:

In [ ]:
df[['Demand', 'Product Name']]

#### 3) Print only the first 2 rows of data:

In [ ]:
df[:2]

#### 4) Print only the first 2 rows, and only the demand column:
- I'm showing several ways to accomplish the same result below.

In [ ]:
# Here's one way to do it, wrapping the 'Demand' column 
# inside a nested list:
df[:2][['Demand']]

# NOTE:  If you want to display more than 1 column, you MUST
#        use the nested list syntax.

In [ ]:
# Here's another way.
# Since we only want to display 1 column, we don't need
# to wrap 'Demand' inside a nested list:
df[:2]['Demand']

In [ ]:
# Pandas is smart enough to differentiate between rows and 
# columns, since our rows are using default (integer) indices:
df['Demand'][:2]

In [ ]:
# Similarly, we can apply the nested list for 'Demand':
df[['Demand']][:2]

#### 5) Print only the last 2 rows of data.  Print the demand column before the product name column.
- I'm showing two different ways to do this below.
- Of course there are other ways to do it as well.

In [ ]:
# Print only the last 2 rows of data:
df.iloc[-2:][['Demand', 'Product Name']]

In [ ]:
df[['Demand', 'Product Name']][-2:]

#### 6) Sort the products according to decreasing demand:

In [ ]:
df.sort_values(['Demand'], ascending=False)

#### 7)  Find the product with the maximum demand
- **NOTE**:  We want to save both the product name and the corresponding maximum demand to variables (so we can make use of this info later).  
- Do not use "for" loops.

In [ ]:
# Approach #1:

# We'll start by creating a new dataframe that has the demand
# values sorted in DESCENDING order.
# Using .head(1) will give us the first row (which corresponds
# to the maximum demand):
df1 = df.sort_values(['Demand'], ascending=False).head(1)
df1

# NOTE: If we had two products that had the maximum demand,
#       this approach would only get one of them.

In [ ]:
# Next, we'll extract the product name and demand values:
myProd   = df1['Product Name'].values[0]
myDemand = df1['Demand'].values[0]
myProd, myDemand

In [ ]:
myProd

The 5 cells below show what happens if you don't use `.values[0]`.

In [ ]:
# NOTE:  If we hadn't used .values[0] above, we'd get lists.
# For example:
myProdList   = df1['Product Name'].values
myDemandList = df1['Demand'].values

In [ ]:
# Instead of getting a scalar product name, we get a pandas object:
myProdList

In [ ]:
# We can access the product name like we would with a list:
myProdList[0]

In [ ]:
# Displaying "myProdList" explicitly as a list:
list(myProdList)

In [ ]:
# We could then get a scalar like this:
list(myProdList)[0]

In [ ]:
# Approach #2:

# We'll first find the maximum demand:
maxDemand  = df['Demand'].max()

# Then, we'll filter for ALL products that share the max demand.
# Using .values gives us a list (not a scalar)
maxProductList = df['Product Name'][df['Demand'] == df['Demand'].max()].values

# NOTE:  This is better than Approach #1, since we can find
#        multiple products.

In [ ]:
# maxDemand is a scalar:
maxDemand

In [ ]:
# maxProductList is a list (in this case it only has 1 element):
maxProductList

In [ ]:
# It looks better when formatted as a list:
list(maxProductList)

In [ ]:
# Approach #3:

# Here, we'll get an array of lists 
# containing both the product name and the max demand:
result = df[['Product Name', 'Demand']][df['Demand'] == df['Demand'].max()].values
result

In [ ]:
# Since we only have 1 matching product, we can filter for the 
# first (only) outer list, and then look for the first element 
# in that list:
productList = result[0][0]
productList

In [ ]:
# Similarly, the demand is found in the second position of the 
# first (only) outer list:
maxDemand = result[0][1]
maxDemand

In [ ]:
# NOTE:  The nice thing about Approach 3 is that it can handle 
#        multiple products. 
#        For example, suppose we look for all products LESS than
#        the maximum demand:
result2 = df[['Product Name', 'Demand']][df['Demand'] < df['Demand'].max()].values
result2

In [ ]:
print(result2[0][0])
print(result2[1][0])
print(result2[2][0])

#### 8)  Add a new column of data, named 'Sales Price'
- Assign the values as numpy NaN for now

In [ ]:
df['Sales Price'] = np.nan
df

#### 9) Assign the following prices to your new column

In [ ]:
prices = [1.99, 2.50, 0.99, 3.75]

In [ ]:
df['Sales Price'] = prices
df

#### 10)  Add another column named 'Cost', with the following values

In [ ]:
costs = [1.0, 2.0, 0.5, 2.25]

In [ ]:
df['Cost'] = costs
df

#### 11) Add yet another column named 'Profit'
- Profit = (sales price) - (cost)

In [ ]:
df['Profit'] = df['Sales Price'] - df['Cost']
df

#### 12)  Add a row of data
**Product 9 has a demand of 99, a sales price of 9.99, a cost of 8.88, and a profit of 1.11**

In [ ]:
df.loc[len(df)] = ['Product 9', 99, 9.99, 8.88, 1.11]
df

#### 13) Delete the Sales Price column

In [ ]:
del df['Sales Price']
df

#### 14) Make Product Name an index

In [ ]:
df.index = df['Product Name']
df

#### 15)  Filter just for Product 4

In [ ]:
df.loc['Product 4']

#### 16) Filter for products 1 through 4

In [ ]:
df.loc['Product 1':'Product 4']

---

## Example 2 -- Daily Show Guests

In [ ]:
# Import the Daily Show guest list
csvFile = 'daily_show_guests.csv'
df = pd.read_csv(csvFile)
df

In [ ]:
df.dtypes

In [ ]:
# Convert the 'Show' date (d/m/YY) to a pandas datestamp
df['date'] = pd.to_datetime(df['Show'], infer_datetime_format=True)
df.head()

In [ ]:
# Check out the documentation:
pd.to_datetime?

In [ ]:
# We're going to add some new columns to make it easier 
# for us to filter the data later (based on date elements):
df['Year'] = pd.DatetimeIndex(df['date']).year
df['Month'] = pd.DatetimeIndex(df['date']).month
df['Day'] = pd.DatetimeIndex(df['date']).day

# .weekday gives us integer values (0 is Monday, 6 is Sunday):
df['Weekday'] = pd.DatetimeIndex(df['date']).weekday

# .weekday_name gives us text strings:
df['WeekdayName'] = pd.DatetimeIndex(df['date']).weekday_name
df.head()

In [ ]:
# Make the date an index:
df.index = df['date']
df.index.weekday

In [ ]:
# Get some general information about our dataframe:
df['Group'].describe()

In [ ]:
# How many records do we have?
len(df)

- **NOTE**:  
    - The `df['Group'].describe()` function says there are 2662 rows with a defined (i.e., non-null) 'Group' value.
    - However, `len(df)` tells us there are 2693 rows.  This means we have some records without a 'Group' defined.

In [ ]:
# Create groups:
group = df.groupby('Group').size()
group

In [ ]:
# How many groups do we have?
len(group)

**NOTE:** We have a 'Media' group and a 'media' group. 
- These are probably the same...someone just forgot to capitalize 'media'.  Let's clean up our data.

In [ ]:
# First, let's display the records where 'Group' equals 'media':
df.loc[df['Group'] == 'media','Group']

In [ ]:
# We could also DISPLAY the results like this:
df['Group'][df['Group'] == 'media']

In [ ]:
# Now, let's actually correct the error:
df.loc[df['Group'] == 'media','Group'] = 'Media'
df

In [ ]:
# NOTE:  Pandas complains about this syntax:
# df['Group'][df['Group'] == 'media'] = 'Media'
# df

In [ ]:
# Let's make sure we corrected the issue.
# This shouldn't return any results
df.loc[df['Group'] == 'media']

In [ ]:
# Let's do some more checking:
df.loc[df['Group'] == 'Media']

In [ ]:
# Alternatively:
df[df['Group'] == 'Media']

In [ ]:
# Let's compare the difference between .size() and .count():
df.groupby('Group').size()

# .size() gives us a data series with the number of records 
# for each 'Group' value.

In [ ]:
df.groupby('Group').count()

# .count() returns all of the columns of the dataframe, with 
# a count of the number of occurrances for each group.

In [ ]:
# Create a new DataFrame with just group count info:
counts_df = pd.DataFrame(df.groupby('Group').size().rename('counts'))
counts_df

In [ ]:
# Create a plot of these counts
import matplotlib.pyplot as plt

Sorted = counts_df.sort_values(['counts'], ascending=False)
Sorted.plot(kind='bar')
plt.show()

In [ ]:
# Find records with missing group names
df[['Group']][pd.isnull(df['Group']) == True]

In [ ]:
# Let's find the total number of guests:
df['Raw_Guest_List'].describe()

In [ ]:
# Filter for musicians.  Show the musician names:
df[['Raw_Guest_List', 'Group']][df['Group'] == 'Musician']

In [ ]:
# Find information about Musicians:
df[['Raw_Guest_List']][df['Group'] == 'Musician'].describe()

In [ ]:
# List the unique musicians:
uniqueMusicians = df['Raw_Guest_List'][df['Group'] == 'Musician'].unique()
uniqueMusicians

In [ ]:
# We can explicitly find the number of unique musicians:
len(uniqueMusicians)

In [ ]:
# Find the guests that appeared in 2010
# Option 1 (use the year column):
df[['Raw_Guest_List']][df['Year'] == 2010]

In [ ]:
# Option 2 (use the date index):
print(df[['Raw_Guest_List', 'Group']].loc['2010-1-1':'2010-12-31'])

In [ ]:
# Find the guests that appeared in 2010 and were actors
df[['Raw_Guest_List', 'Group']][df['Group'] == 'Acting'].loc['2010-1-1':'2010-12-31']

In [ ]:
df[['Raw_Guest_List', 'Group']][df['Group'] == 'Acting'].loc['2010-1-1':'2010-12-31'].describe()

In [ ]:
# Find the guests that appeared in November and were politicians
df[['Raw_Guest_List']][(df['Month'] == 11) & (df['Group'] == 'Politician')].describe()

In [ ]:
# Count the number of shows by weekday
weekday_counts = df.groupby('Weekday').size()
weekday_counts

In [ ]:
# Plot the number of shows by day of the week:
weekday_counts.plot.bar(color='blue');

# This figure will be confusing if people don't know that 
# "0" is "Monday".

In [ ]:
# Let's try grouping by the column that has the name of the weekday:
weekday_name_counts = df.groupby('WeekdayName').size()
weekday_name_counts

In [ ]:
# If we don't specify an ordering for the x-axis, we get
# a random order of weekdays:
weekday_name_counts.plot.bar();

In [ ]:
# Plot the number of shows by day of the week,
# but use helpful x-axis names:

# First, create a list with the order of days.
# NOTE:  There were no shows on Saturday.
weekdayList = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', \
               'Thursday', 'Friday']

# Now, plot in order of weekdayList:
weekday_name_counts[weekdayList].plot.bar(color='blue');

In [ ]:
# Find all unique occupations and groups:
set(df['GoogleKnowlege_Occupation']).union(set(df['Group']))

# This is simply the union of these two columns

In [ ]:
# Find the number of unique occupations and groups:
setOfUniques = set(df['GoogleKnowlege_Occupation']).union(set(df['Group']))
len(setOfUniques)


---

## Example 3 -- Scraping HTML Tables

*This material comes from Wes McKinney's textbook*

In [ ]:
tables = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
# How many tables did we find on this webpage?
len(tables)

In [ ]:
# Our "failure" data will be in the first (and only) table:
failures = tables[0]

In [ ]:
failures.head()

In [ ]:
# How many bank failures were there per year?
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

In [ ]:
# Which bank failures were in NY?
failures[failures['ST'] == 'NY']

In [ ]:
# How many bank failures were in NY?
failures[failures['ST'] == 'NY']['ST'].count()


---

## Further Studying

Check out https://realpython.com/python-data-cleaning-numpy-pandas/ for some more examples.